html {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

body {
  background-color: rgb(240, 255, 250);
  margin: 0;
}

form {
  width: 40rem;
  margin: 5rem auto;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  font: inherit;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  padding: 0.5rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus{
  background-color: rgb(155, 183, 226);
  border-color: rgb(87, 87, 255);
}

textarea {
  resize: none;
}

.reply-mtd {
  display: flex;
}

.reply-mtd input {
  width: auto;
  margin-right: 0.5rem;
}

.reply-mtd input,
.reply-mtd label {
  margin-bottom: 0;
}

#buttons {
  display: flex;
  justify-content: right;
}

button {
  font: inherit;
  border-color: rgb(38, 139, 255);
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
  width: 6rem;
  margin-left: 1rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(177, 223, 253);
}

button[type=submit] {
  color: white;
  background-color: rgb(34, 34, 122);
}

button[type=submit]:hover {
  background-color: rgb(26, 104, 194);
}
